/*
     1:1 stolen copy of https://github.com/aarushik93/webcam-go/blob/master/styles.css
 */
html, body {
  height: 100%;
}

body {
  background: #ccc;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  font-family: "Bubblegum Sans";
  font-size: 46px;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

footer {
  left: 5px;
  padding-bottom: 10px;
  color:#FFFFFF;
  text-align: center;
  font-size: 16px;
  flex-shrink: 0;
}

footer a {
  color:#FFFFFF;
}

#video {
  width: 1px;
  height: 1px;
}

.video h2 {
  font-family: "Bubblegum Sans";
  font-size: 34px;
  color: #191654;
  text-align: center;
  font-weight: normal;
  position: absolute;
  top: 140px;
  left: 106px;
  z-index: 0;
}

.container {
  margin: auto;
  flex: 1 0 auto;
  padding-top: 50px;
}

.content > div.top {
  padding-bottom: 10px;
}

div.top:after {
  content: "";
  display: table;
  clear: both;
}

.container .video {
  width: 800px; height: 800px;
  position: relative;
  float: left;
}

.video:after, .video:before{
  mix-blend-mode:multiply;
  filter:none;
  z-index: -1;
  content:'';
  width:calc(100% + (50px * 2));
  height:calc(100% + (50px * 2));
  position: absolute;
  display: block;
  animation: border 10s ease-in-out infinite;
  transform:translateX(-50px) translateY(-50px);
}

.video #canvas {
  z-index: 5;
  position: absolute;
}

.container .video #fps {
  position: absolute;
  top: 130px;
  right: 70px;
  font-size: 15px;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  z-index: 10;
}

.container .controls {
  position: absolute;
  top: 655px;
  left: 320px;
  width: 100px;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
}

.switch-option {
  padding-left: 50px;
}

.switch-option span {
  margin-top: 5px;
  outline: none;
  padding-left: 50px;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5) inset;
}

.switch-option span a {
  outline: none!important;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5);
}

#template, #capture {
  display: none;
}
